<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hobbies</title>

    <!-- Bootstrap Core CSS -->
    <link href="/assets/hobbies/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/assets/hobbies/css/stylish-portfolio.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/assets/hobbies/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <style>

    </style>
</head>

<body>
    <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center">
            <h1>My Hobbies</h1>
            <h3>Bits of randomness</h3>
            <br>
            <a href="/" class="btn btn-dark btn-lg">Home</a>
        </div>
    </header>

    <!-- Callout -->
    <aside class="callout gaming">
        <div class="text-vertical-center">
            <h1>Gaming</h1>
        </div>
    </aside>

    <aside class="callout football">
        <div class="text-vertical-center">
            <h1>Football</h1>
        </div>
    </aside>

    <aside class="callout gymming">
        <div class="text-vertical-center">
            <h1>Working Out</h1>
        </div>
    </aside>

    <aside class="callout movies">
        <div class="text-vertical-center">
            <h1>Movies</h1>
        </div>
    </aside>

    <aside class="callout anime">
        <div class="text-vertical-center">
            <h1>Anime</h1>
        </div>
    </aside>


    <!-- Portfolio -->
    <section id="portfolio" class="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h2>Travelling</h2>
                    <hr class="small">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="portfolio-item">
                                    <img class="img-portfolio img-responsive" src="/assets/hobbies/img/travel1.jpg">

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="portfolio-item">
                                    <img class="img-portfolio img-responsive" src="/assets/hobbies/img/travel2.jpg">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="portfolio-item">
                                    <img class="img-portfolio img-responsive" src="/assets/hobbies/img/travel3.jpg">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="portfolio-item">
                                    <img class="img-portfolio img-responsive" src="/assets/hobbies/img/travel4.jpg">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="portfolio-item">
                                    <img class="img-portfolio img-responsive" src="/assets/hobbies/img/travel5.jpg">
                            </div>
                        </div><div class="col-md-6">
                            <div class="portfolio-item">
                                    <img class="img-portfolio img-responsive" src="/assets/hobbies/img/travel6.jpg">
                            </div>
                        </div>
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <section id="portfolio" class="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h2>Hiking</h2>
                    <hr class="small">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="portfolio-item">
                                    <img class="img-portfolio img-responsive" src="/assets/hobbies/img/hiking1.jpg">

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="portfolio-item">
                                    <img class="img-portfolio img-responsive" src="/assets/hobbies/img/hiking2.jpg">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="portfolio-item">
                                    <img class="img-portfolio img-responsive" src="/assets/hobbies/img/hiking3.jpg">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="portfolio-item">
                                    <img class="img-portfolio img-responsive" src="/assets/hobbies/img/hiking4.jpg">
                            </div>
                        </div>

                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <section id="portfolio" class="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h2>Art</h2>
                    <hr class="small">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="portfolio-item">
                                    <img class="img-portfolio img-responsive" src="/assets/hobbies/img/painting1.jpg">

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="portfolio-item">
                                    <img class="img-portfolio img-responsive" src="/assets/hobbies/img/painting2.jpg">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="portfolio-item">
                                    <img class="img-portfolio img-responsive" src="/assets/hobbies/img/painting3.jpg">
                            </div>
                        </div>

                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>


    <!-- jQuery -->
    <script src="/assets/hobbies/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/assets/hobbies/js/bootstrap.min.js"></script>


</body>

</html>
